// Assignment W12B
// Karen Evans
// December 8, 2020
// update
label {

    display: block;
    margin-left: 170px;
}

input{
    margin-left: 170px;
    width: 70%;
    height: auto;
}

textarea {

    margin-left: 170px;
    width: 70%;
    height: auto;
}
h1{
    margin-left: 170px;
}

.alert{
    display: none;
}
.show-alert{
    display: block;
    // add transition to make it fade away with a timed event
}
